.header {
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    h2 {
        font-weight: 700;
        font-size: 3.5rem;
        margin-bottom: 15px;
        line-height: 1.2;
        letter-spacing: 2px;
    }
    h6 {
        color: lightgray;
        text-transform: capitalize;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 1.5;
    }
}

.banner {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.8)
      ), url(../../../assets/cryptocurrency-bg.jpg);
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
}
.sub-header {
    height: 50%;
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    margin: 50px;
    width: 100px;
    height: 200px;
    img {
        width: 70px;
    }
    .card-body {
        font-size: 12px;
    }
}